<footer id="footer">
  <div class="contentWrapper">
    <div id="topFooter">
      <div id="leftTopFooter" class="columnWrapper">
        <h1>Chat GPT MEEN Stack</h1>
        <p>
          This website is built on the powerful technology stack of MongoDB,
          EJS, Express, and Node.js. It features a cutting-edge chatbot powered
          by ChatGPT and offers a user-friendly platform that provides a diverse
          range of resources and services to its users.
        </p>
      </div>

      <div id="rightTopFooter" class="rowWrapper">
        <div id="middleTopFooter" class="columnWrapper">
          <ul class="columnWrapper linkColumnFooter">
            <h1>Contact</h1>
            <li><a href="/contact">Leave a message</a></li>
            <a href="“tel:555-666-7777”">Call Us</a>
          </ul>
        </div>

        <div id="middleTopFooter" class="columnWrapper">
          <ul class="columnWrapper linkColumnFooter">
            <h1>Pages</h1>
            <li><a href="/aaron">Aaron</a></li>
            <li><a href="/aby">Aby</a></li>
            <li><a href="/eugenio">Eugenio</a></li>
            <li><a href="/rue">Rue</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
