<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%=headVars.title%></title>
  <meta name="description" content="<%= headVars.description %>" />
  <meta name="keywords" content="<%= headVars.keywords %>" />
  <meta name="author" content="<%=headVars.author%>" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
