<div class="data-form contentWrapper">
  <form
    class="columnWrapper userForms centerWrapper"
    action="/user/create"
    method="POST">
    <h2>Prompt</h2>
    <div class="contentWrapper">
      <label for="inputFirstName">First Name</label>
      <input
        type="text"
        name="name"
        id="inputFirstName"
        placeholder="Name"
        autofocus />
    </div>
    <div class="contentWrapper">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        placeholder="Password" />
    </div>
    <div class="contentWrapper">
      <label for="inputEmail">Email address</label>
      <input
        type="text"
        name="email"
        id="inputEmail"
        placeholder="Email address" />
    </div>
    <div class="contentWrapper">
      <label for="inputZipCode">Zip Code</label>
      <input
        type="text"
        name="zipCode"
        id="inputZipCode"
        placeholder="Zip Code" />
    </div>
    <div class="contentWrapper">
      <button type="submit">Sign up</button>
    </div>
  </form>
</div>
