<div class="data-form contentWrapper">
  <form
    class="columnWrapper userForms centerWrapper"
    action="/user/create"
    method="POST">
    <h2>Prompt</h2>
    <div class="contentWrapper">
      <label for="inputPrompt">Prompt</label>
      <input
        type="text"
        name="prompt"
        id="inputPrompt"
        placeholder="Prompt"
        autofocus />
    </div>
    <div class="contentWrapper">
      <label for="inputAuthor">Author</label>
      <input type="text" name="author" id="inputAuthor" placeholder="Author" />
    </div>
    <div class="contentWrapper">
      <button type="submit">Create Prompt</button>
    </div>
  </form>
</div>

<h2>Prompt Table</h2>
